@import url(https://db.onlinewebfonts.com/c/8ae90d1880a9e9a51d7810be9fe6f49e?family=Chalet-LondonNineteenSixty);

/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Chalet-LondonNineteenSixty';
    src: url('https://db.onlinewebfonts.com/t/8ae90d1880a9e9a51d7810be9fe6f49e.eot');
    src: url('https://db.onlinewebfonts.com/t/8ae90d1880a9e9a51d7810be9fe6f49e.eot?#iefix') format('embedded-opentype'),
        url('https://db.onlinewebfonts.com/t/8ae90d1880a9e9a51d7810be9fe6f49e.woff2') format('woff2'),
        url('https://db.onlinewebfonts.com/t/8ae90d1880a9e9a51d7810be9fe6f49e.woff') format('woff'),
        url('https://db.onlinewebfonts.com/t/8ae90d1880a9e9a51d7810be9fe6f49e.ttf') format('truetype'),
        url('https://db.onlinewebfonts.com/t/8ae90d1880a9e9a51d7810be9fe6f49e.svg#Chalet-LondonNineteenSixty') format('svg');
}

html {
    background: url('https://media-rockstargames-com.akamaized.net/tina-uploads/posts/172872k8a375k8/7248c8a095c3af9a0b646d2e7ac1661f7e49cbb5.jpg')
        no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
