{
    "$schema": "https://json.schemastore.org/swcrc",
    "module": {
        "type": "es6",
        // These are defaults.
        "strict": true,
        "strictMode": true,
        "lazy": false,
        "noInterop": false
    },
    "jsc": {
        "parser": {
            "syntax": "typescript",
            "decorators": true
        },
        "transform": {
            "legacyDecorator": true,
            "decoratorMetadata": true
        }
    }
}
